* {
 
    box-sizing: border-box;
 }
 body {
     margin: 0%;
     padding: 0%;
     background-color: #FAFAFA;
 }
 .padre {
 
 }
 .header {
     background-color: #FFFFFF;
     display: flex;
     flex-flow: column nowrap;
 }
 .menu {
     background-color: #FFFFFF;
     display: flex;
     flex-flow: row nowrap;
     height: 66px;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }
 .logo {
     background-color: #FFFFFF;
     flex: 0 1 auto;
     height: 66px;
 }
 .img {
     width: 41.5%;
     height: 36px;
     margin-left: 5.7%;
     margin-top: 15px;
 }
 .certificado {
     background-color: #FFFFFF;
     flex: 0 1 auto;
     height: 66px;
     margin-right: 15.6%;
     margin-top: 4.5px;
 }
 .contenido_certificado {
     text-decoration: none;
     color: #21334d;
     padding-left: 0%;
     margin-right: 52%;
     line-height: 60px;
     font-weight: 700;
     letter-spacing: 1px;
     font-size: 14.5px;
     font-family: sans-serif;
     margin-right: 24%;
 }
 .contenido_certificado::after {
     content: "\f107";
     margin-left: 5px;
 }
 .nav {
     background-color: #FFFFFF;
     flex: 5 1 auto;
     height: 66px;
     display: flex;
     flex-flow: column row;
     
 }
 .comunidad {
     text-decoration: none;
     margin-top: 29px;
     color: #929ea8;
     font-size: 0.75rem;
     margin-right: 6.8%;
     font-family: 'Open Sans', sans-serif;
 }
 .comunidad::after {
     content: "\f107";
     margin-left: 5px;
     font-family: sans-serif;
 }
 .peru {
     width: 3.4%;
     height: 11.3px;
     margin-top: 31px;
     margin-right: 2%;
 }
 .numero {
     text-decoration: none;
     margin-top: 29px;
     color: #929ea8;
     font-size: 0.75rem;
     margin-right: 1%;
     font-family: 'Open Sans', sans-serif;
 }
 .numero::after {
     content: "\f107";
     margin-left: 5px;
     font-family: sans-serif;
 }
 .ingresar {
     text-decoration: none;
     margin-top: 29px;
     color: #929ea8;
     font-size: 0.75rem;
     margin-right: 5%;
     margin-left: 2%;
     font-family: 'Open Sans', sans-serif;
 }
 .ingresar::before {
     color: #929ea8;
     margin-left: 10px;
     content: "|";
     margin-right: 15px;
     margin-right: 18px;
 }
 .inscribete {
     color: #fff;
     background: #ff6310;
     text-decoration: none;
     padding: 10px 18px;
     border-radius: 4px;
     margin-left: 8px;
     font-size: 0.875rem;
     font-weight: 550;
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
     margin-top: 16px;
     margin-bottom: 13px;
 }
 .nav_dos {
     height: 55px;
     background-color: #23364F;
     display: flex;
     justify-content: center;
 }
 .menu_dos {
     margin-right: 18.2%;
     background-color: #23364F;
     height: 55px;
 }
 .texto_ruleta {
     margin-top: 4px;
 }
 .texto_premio {
     position: absolute;
     font-size: 15.7px;
     color: #fff;
     padding: 9px 30px;
     border: none;
     border-radius: 4px;
     font-weight: 700;
     text-decoration: none;
     text-transform: none;
     margin-top: -22px;
     vertical-align: middle;
     background-color: #f60;
     text-align: center;
     margin-top: 10px;
     margin-left: 2.55%;
 }
 .texto_principal {
    background-image: url(./images/webHero.jpg);
    display: flex;
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    align-items: center;
    padding: 1.25em 0;
    height: 81vh;
}
.container_text-form {
    display: flex;
    flex-flow: row;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.contenido_texto-principal {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding: 0;
    text-align: left;
    width: 80%;
}
.contenido_cabecera {
    padding-right: 15%;
    padding-top: 15px;
}
.aprende_h1 {
    padding-top: 100px;
    color: #fefefe;
    font-size: 42px;
    line-height: 1;
    margin: .67em 0;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 300;
    margin-bottom: 0px;
}
.facil {
    margin bottom: 0%;
}
.domina_h2 {
    color: #fefefe;
    margin-bottom: 0;
    padding-right: 25px;
    line-height: 1.35;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0 0 5px;
    font-family: 'Open Sans', sans-serif;
}
.container_form {
    width: 41.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 15px;
    
}
.form {
    width: 110%;
    height: 458px;
    flex-direction: column;
    overflow: hidden;
    padding: 8px 0 0;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.form_h1 {
    color: #404040;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    width: 250px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}
.input {
    width: 90%;
    border: none;
    outline: none;
    font-family: 'Muli', sans-serif;
    line-height: 42px;
    border-bottom: 1px solid #e9e7e7 ;
    border-radius: 1px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}
.campos {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-family: 'Muli', sans-serif;
    line-height: 42px;
    border-radius: 1px;
    text-align: left;
    font-size: 0.75rem;
}
.form_text {
    padding-left: 8%;
}
.button_ahora {
    justify-content: center;
    color: #FFFFD7;
    background: #FF6D00;
    font-size: 0.875rem;
    font-weight: 550;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 32%;
    padding-right: 32.8%;
    padding-top: 6%;
    padding-bottom: 5%;
}
 .texto_segundo {
     background-color: #FAFAFA;
     display: flex;
     flex-flow: column row;
     justify-content: center;
 }
 .conteno_texto {
     width: 100%;
     height: 50px;
    display: flex;
    flex-flow: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

 }
 .texto_cursos {
    margin-bottom: 25px;
    padding-top: 10px;
    line-height: 1.1;
    font-size: 60px;
    font-weight: 300;
    color: #1e1e1e;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
 }
.texto_certificate {
    font-weight: 400;
    color: #373737;
    margin: 0 0 1.5em;
    font-size: 1.125em;
    text-align: center;
    font-family: 'Open Sans' sans-serif;  
}
.articulos {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 90%;
    padding-left: 5%;

}
.img_articulos {
    max-width: 350px;
    max-height: 350px;
}
.articles {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    justify-content: center;  
}
.contenido_enlaces {
    text-align: center;
    background: #fff;
    border-top: 7px solid;
    border-top-color: #09f;
    max-width: 100%;
    max-height: 100px;
    padding-bottom: 7%;
    padding-top: 15px;
}
.div_img {
    background-color:#09f;
}
.section_articulos {
    padding-left: 4.3%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.enlaces {
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
    color: #373737;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.enlace_segundo {
    letter-spacing: normal;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #373737;
    margin-top: 5px;

}
.nuevo {
    
    background: #00ed6b;
    display: inline-block;
    margin-right: 5px;
    padding: 0.3em;
    color: #ffffff;
    font-size: 0.7rem;
}
.section_ofertas {
   background-color: #333333;
}
.fondo_img {
   background-image: url(./images/tecla.jpg);
   min-height: 200px;
   background-position: center center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   margin-top: 3%;
   padding-left: 5%;
}
.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 7%;
    margin-left: 1%;
    
    
}
.container_ingreso {
    border-right: 1px solid #cecece;
    padding-right: 40px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2%;
}
.container_ingreso2 {
    border-right: 1px solid #cecece;
    padding-right: 20px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2%;
}
.ingreso-top {
    min-height: 70px;
    padding-top: 11.5px;
    margin-left: 3.5%;
}
.img_ingreso {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0%;
}
.texto1_body {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 2%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.texto2_body {
    color: #fff;
    font-size: 95%;
    line-height: 1.2;
    margin: 0 0 1.5em;
    text-align: center;
    width: auto;
    font-family: 'Open Sans', sans-serif;
}
.body_ingreso1 {
    margin-top: 4%;
}
.body_ingreso3 {
    margin-top: 5%;
}
.container_ingreso3 {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
}
.section_contenido_porque-next {
    margin: 0;
    min-height: 500px;
    padding-top: 1.8%;

}
.section_img-center {
    padding-bottom: 70px;
}
.porque-next {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.titulo_next {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.15;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
} 
.contenido_porque-next {
    flex-flow: row;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;

}
.contenido_porque-next1 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}
.contenido_img-next {
    min-height: 125px;
    margin-top: 0;
}
.img_porque-next {
    display: table-cell;
    vertical-align: top;
    padding-right: 20px;
}
.next_body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
}
.next_body-texto {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    color: #666;
    margin: 0 0 1.5em;
    hyphens: none;
}
.fondo_img-elige {
    background-image: url(./images/teclados.jpg);
    min-height: 200px;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 0%;
}
.container_texto_elige {
    padding-top: 4%;
    min-height: 200px;
    padding-left: 6px;
}
.texto_elige {
    color: #fff;
    font-size: 1.75em;
    line-height: 1.4em;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
}
.section_06 {
    margin-top: 50px;
    padding: 1.25em 0;
    position: relative;
}
.container_06 {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text_center {
    margin-bottom: 25px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1.1;
    font-size: 2.5em;
    font-weight: 300;
    color: #1e1e1e;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.section_container-06 {
    flex-flow: row;
    display: flex;
    padding-right: 70px;
    padding-left: 70px;
    margin-right: auto;
    margin-left: auto;
}
.text-_center {
    font-size: 1.575rem;
    margin-bottom: 25px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1.1;
    text-align: center;
    font-weight: 300;
    color: #1e1e1e;
    font-family: 'Open Sans', sans-serif;

}
.section_text-center {
    width: 50%;
    font-size: 1.575rem;
    line-height: 1.1;
    text-align: center;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #1e1e1e;
    margin-top: 15%;
}
.text-_center2 {
    font-size: 18px;
    hyphens: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    color: #525c69;
    margin: 0%;
}
.a {
    margin-top: 21.5%;
    text-decoration: none;
    font-size: 55px;
    color: #8E8D8D;
    font-weight: 800;
    margin-right: 4%;
}
.footer_center {
    width: 100%;
    background-color: #1F1D1D;
}
.footer_contenido {
    width: 1170px;
    display: flex;
    flex-flow: row;
    padding-right: 15px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.contenido_colum1 {
    padding: 2%;
}
.contenido_colum2 {
    padding: 2%;
    margin-right: 10%;
    margin-left: 15px;
}
.contenido_colum3 {
    padding-top: 2%;
}
.buton_info {
    color: #000;
    background-color: #00aef7;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 4px;
}
.peru2 {
    width: 3.4%;
    height: 11.3px;
    margin-right: 8px;
}
.colum_1 {
    margin-left: 0%;
}
.h5 {
    color: #cecece;
    margin-bottom: -10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 8pt;
    line-height: 2.09em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.listas_ordenadas {
    padding: 0%;
}
.enlace_listas {
    text-decoration: none;
    color: #AAA;
    font-size: 100%;
    line-height: 1.25;
    font-size: 11px;
}
.parrafo {
    color: #757575;
    font-size: 12px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
.numero2 {
    font-weight: 700;
    color: #AAA;
    font-size: 90%;
    line-height: 1.25;
}
.next_brasil {
    color: #AAA;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
.fondo_footer {
    background-color: #000;
    width: 100%; 
}
.footer2 {
    background-color: #000;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8px;
}
.row {
    display: flex;
    flex-flow: row;
}
.colum1_row{
    margin-top: 15px;
}
.colum2_row {
    margin-top: 18px;
    margin-left: 6%;
    margin-right: 13%;
}
.colum3_row {
    margin-top: 14px;
    margin-bottom: 13px;
    text-align: center;
}
.copy {
    margin-top: 5px;
    margin-bottom: 1%;
    text-align: left;
    color: #fefefe;
    font-size: 14.5px;
    line-height: 1.25;
}
.enlace_copy {
    font-size: 13.5px;
    line-height: 1.25;
    font-family: sans-serif;
    color: #fefefe;
    font-family: sans-serif;
}
.enlaces_copy {
    color: #b0b1b0;
    text-decoration: none;
    padding: 0;
    margin: 0 20px 15px 0;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
.enlace_imgcopy {
    opacity: .75;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #bfbfbf;
}
.img_copy {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(./images/download.svg);
}
.img_copy1 {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(./images/download1.svg);
}
.img_copy2 {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(./images/download2.svg);
}
.img_copy3 {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(./images/download3.svg);
}
.img_copy4 {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(./images/download4.svg);
}