html {
    padding-top: 0%;
}
.body {
    background-color: #FFFFFF;
    margin: 0%;
    margin-top: 0%;
}
.header {
    width: 100%;
    height: 500pt;
    background-color: #dd1111;
}
.menu {
    background-color: #FFFFFF;
    
    width: 100%;
    height: 68px;
}
.logo {
    width: 13%;
    height: 35px;
   float: left;
    margin-left: 5%;
    margin-top: 1%;
}
.certificado {
    text-decoration: none;
    color: #21334d;
    height: 60px;
    line-height: 60px;
    font-weight: bolder;
    font-size: 15px;
    float: left;
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 8px;
}
.enlace {
    color: #929ea8;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    padding: 10px;
    text-decoration: none;
    float: left;
    margin-right: 1%;
    margin-top: 15px;
}
.peru {
    width: 1%;
    height: 12px;
    float: left;
    margin-top: 26px;
}
.boton {
    color: #fff;
    background: #ff6310;
    padding: 10px 20px;
    font-size: 0.875rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: 3%;
    margin-top: 10px;
}
.nav {
    background-color: #20304E;
    width: 100%;
    height: 70px;
}

.nav {
    background-color:#20334D;
    width: 100%;
    height: 53.922px;
}
.texto_uno  {
    color: #01ED6C;
    
    float: left;
    font-size: 20pt;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 15px;
}
.texto_dos {
   
    float: left;
     color:  rgb(255, 255, 255);
     font-size: 20pt;
     margin-top: 15px;
     font-weight: bolder;
}
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;  
    width: 100%;
    height: 395pt; 
}
.img {
    width: 100%;
    height: 395pt;    
}
.texto_encima {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-top: 100px;
    text-align: center;
    font-family: sans-serif;
    color: #FEFEFE;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 20px;
}
.texto {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    font-family: sans-serif;
    color: #FEFEFE;
    margin-bottom: 0;
    padding-right: 20px;
    line-height: 1.35;
    font-weight: 300;
    font-size: 1.1rem;
    margin-top: 15%;
}